
.filetree .controls {
  margin-bottom: .5em;
}

.filetree .controls li {
  display: inline;
  padding-right: .5em;
}

.filetree .folder {
  margin: 0;
  cursor: pointer;
}

.filetree .files ul {
  padding-left: 0;
}

.filetree .files li {
  background: url(images/file.png) no-repeat left top;
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.filetree .files li.folder,
.filetree .files a {
  padding-left: 20px;
}

/* thumbnails */
.filetree li.thumbnail {
  line-height: 1;
}
.filetree li.thumbnail a {
  padding-left: 0px;
  margin-top: 4px;
  margin-left: 4px;
}
.filetree li.thumbnail div.name {
  font-size: 10px;
  white-space: pre;
  overflow: hidden;
  margin-left: 4px;
}

/* icons */

.filetree li.application {
  background-image: url(images/application.png);
}

.filetree li.code {
  background-image: url(images/code.png);
}

.filetree li.css {
  background-image: url(images/css.png);
}

.filetree li.db {
  background-image: url(images/db.png);
}

.filetree li.doc {
  background-image: url(images/doc.png);
}

.filetree li.film {
  background-image: url(images/film.png);
}

.filetree li.flash {
  background-image: url(images/flash.png);
}

.filetree li.folder {
  background-image: url(images/folder.png);
}

.filetree li.expanded {
  background-image: url(images/folder_open.png);
}

.filetree li.html {
  background-image: url(images/html.png);
}

.filetree li.java {
  background-image: url(images/java.png);
}

.filetree li.linux {
  background-image: url(images/linux.png);
}

.filetree li.music {
  background-image: url(images/music.png);
}

.filetree li.pdf {
  background-image: url(images/pdf.png);
}

.filetree li.php {
  background-image: url(images/php.png);
}

.filetree li.image {
  background-image: url(images/image.png);
}

.filetree li.ppt {
  background-image: url(images/ppt.png);
}

.filetree li.psd {
  background-image: url(images/psd.png);
}

.filetree li.ruby {
  background-image: url(images/ruby.png);
}

.filetree li.script {
  background-image: url(images/script.png);
}

.filetree li.txt {
  background-image: url(images/txt.png);
}

.filetree li.xls {
  background-image: url(images/xls.png);
}

.filetree li.zip {
  background-image: url(images/zip.png);
}

.filetree li.thumbnail {
  background-image: none;
}

.filetree li.thumbnail > div {
  display: inline-block;
}

.filetree li.thumbnail > div.filetree-hidden {
  display: none;
}
