table#filetree-cache-admin .filetree-cache-rehash,
table#filetree-cache-admin .filetree-cache-rehash-all {
  cursor: pointer;
  width: 16px;
  background: transparent url('icon-check.png') no-repeat left center;
}

table#filetree-cache-admin tr.hash-processing .filetree-cache-rehash,
table#filetree-cache-admin tr.cache-processing .filetree-cache-recache {
  background-image: url('icon-throb.gif');
  background-position: 0% 2px;
}

table#filetree-cache-admin tr.hash-processing .filetree-cache-rehash.hash-processing,
table#filetree-cache-admin tr.cache-processing .filetree-cache-recache.cache-processing {
  background-position: 0% -18px;
}

table#filetree-cache-admin .filetree-cache-recache,
table#filetree-cache-admin .filetree-cache-recache-all {
  cursor: pointer;
  width: 16px;
  background: transparent url('icon-recache.png') no-repeat left center;
}

table#filetree-cache-admin .filetree-cache-hash span {font-family: monospace;}
table#filetree-cache-admin .filetree-cache-hash span.out-of-sync {color: red;}

